.vim/tmp/undo/*
.vim/tmp/swap/*
.vim/tmp/backup/*
*~
*.log
/.vim/bundle/ack.vim
/.vim/bundle/clang_complete
/.vim/bundle/ctrlp.vim
/.vim/bundle/delimitMate
/.vim/bundle/gist-vim
/.vim/bundle/gundo.vim
/.vim/bundle/html5.vim
/.vim/bundle/nerdcommenter
/.vim/bundle/nerdtree
/.vim/bundle/supertab
/.vim/bundle/syntastic
/.vim/bundle/tlib_vim
/.vim/bundle/tmuxline.vim
/.vim/bundle/vim-addon-mw-utils
/.vim/bundle/vim-airline
/.vim/bundle/vim-bundler
/.vim/bundle/vim-coffee-script
/.vim/bundle/vim-commentary
/.vim/bundle/vim-css-color
/.vim/bundle/vim-cucumber
/.vim/bundle/vim-dispatch
/.vim/bundle/vim-ember-script
/.vim/bundle/vim-emblem
/.vim/bundle/vim-endwise
/.vim/bundle/vim-fugitive
/.vim/bundle/vim-git
/.vim/bundle/vim-javascript
/.vim/bundle/vim-mustache-handlebars
/.vim/bundle/vim-rails
/.vim/bundle/vim-rake
/.vim/bundle/vim-rspec
/.vim/bundle/vim-ruby
/.vim/bundle/vim-snipmate
/.vim/bundle/vim-snippets
/.vim/bundle/vim-surround
/.vim/bundle/vim-tags
